.title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.row {
  display: flex;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  label {
    font-size: 1rem;
    cursor: pointer;
  }
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  margin-right: 1.2rem;

  display: grid;
  place-content: center;

  cursor: pointer;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--current-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

.button {
  background-color: var(--current-light-color);
  color: #fff;
  font-size: 0.9rem;
  font-family: inherit;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--current-color);
  }
}

.colorButton {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: var(--current-color);
  border-radius: 1rem;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}
