.button {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  img {
    fill: var(--red);
    width: 1.5rem;
  }
}
