:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f8f8f8;
  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* declare variables for colors exactly like apple ones (for light and dark mode) */
  --raw-red: 255, 59, 48;
  --raw-orange: 255, 149, 0;
  --raw-yellow: 255, 204, 0;
  --raw-green: 52, 199, 89;
  --raw-blue: 0, 122, 255;
  --raw-indigo: 88, 86, 214;
  --raw-purple: 175, 82, 222;

  --red: rgb(var(--raw-red));
  --orange: rgb(var(--raw-orange));
  --yellow: rgb(var(--raw-yellow));
  --green: rgb(var(--raw-green));
  --blue: rgb(var(--raw-blue));
  --indigo: rgb(var(--raw-indigo));
  --purple: rgb(var(--raw-purple));

  --light-opacity: 0.8;

  --light-red: rgba(var(--raw-red), var(--light-opacity));
  --light-orange: rgba(var(--raw-orange), var(--light-opacity));
  --light-yellow: rgba(var(--raw-yellow), var(--light-opacity));
  --light-green: rgba(var(--raw-green), var(--light-opacity));
  --light-blue: rgba(var(--raw-blue), var(--light-opacity));
  --light-indigo: rgba(var(--raw-indigo), var(--light-opacity));
  --light-purple: rgba(var(--raw-purple), var(--light-opacity));

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  margin: 0;
  padding: 0;
}

#root {
  padding: 1.5rem;
  text-align: center;
}

.red {
  --current-color: var(--red);
  --current-raw-color: var(--raw-red);
  --current-light-color: var(--light-red);
}
.orange {
  --current-color: var(--orange);
  --current-raw-color: var(--raw-orange);
  --current-light-color: var(--light-orange);
}
.yellow {
  --current-color: var(--yellow);
  --current-raw-color: var(--raw-yellow);
  --current-light-color: var(--light-yellow);
}
.green {
  --current-color: var(--green);
  --current-raw-color: var(--raw-green);
  --current-light-color: var(--light-green);
}
.blue {
  --current-color: var(--blue);
  --current-raw-color: var(--raw-blue);
  --current-light-color: var(--light-blue);
}
.indigo {
  --current-color: var(--indigo);
  --current-raw-color: var(--raw-indigo);
  --current-light-color: var(--light-indigo);
}
.purple {
  --current-color: var(--purple);
  --current-raw-color: var(--raw-purple);
  --current-light-color: var(--light-purple);
}
